<!doctype html>
<html>
  <head>
    <title>About <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <a href="/"><button class="home-btn"><i class="fa fa-home"></i> Home</button></a>
    <h1>About <%=forumName%></h1>
    <p>This is a forum page! Here you have the ability to create an account, and add or view posts in topics which you are interested in!</p>
  </body>
</html>