<!doctype html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=forumName%></h1>
    <div class="options-container">
      <a href="about" class="forum-option">About <%=forumName%></a>
      <a href="topics" class="forum-option">List existing topics</a>
      <a href="users" class="forum-option">List existing users</a>
      <a href="posts" class="forum-option">List existing posts</a>
      <a href="addPosts" class="forum-option">Add a post</a>
    </div>

  </body>
</html>
