<!doctype html>
<html>
  <head>
    <title>Register for <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Posts for <%=forumName%></h1>
  </body>
</html>