<!doctype html>
<html>
  <head>
    <title>About <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <% availableTopics.map((book)=>{ %>
      <div class="card">
        <!-- card which contains information about the books below £20 -->
        <h4><%=book.name%></h4>
      </div>
      <% }) %>
  </body>
</html>