<!doctype html>
<html>
  <head>
    <title>About <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <a href="/"><button class="home-btn"><i class="fa fa-home"></i> Home</button></a>
    <form method="POST" action="/topicadded">
      <p></p>
      <p><b>Topic Name</b></p>
      <input id="topic" type="text" name="topicname" value="" />
      <p></p>
      <input type="submit" value="Add Topic" />
    </form>
    <div class="options-container">

    <% availableTopics.map((book)=>{ %>
        <a class="forum-option" href="search-posts/?keyword=<%=book.name%>"><%=book.name%></a>
      <% }) %>
    </div>
  </body>
</html>