<!doctype html>
<html>
  <head>
    <title>Search <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>List of users in <%=forumName%></h1>
    <% users.map((user)=>{ %>
      <h4><%=user.first_name + " " + user.last_name%></h4>
    <% }) %>
  </body>
</html>