<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
</head>
<body>
  <a href="/addPosts"><button class="home-btn"><i class="fa fa-arrow-left"></i> Back to Add Posts</button></a>
  <h1>User Not Found</h1>
  <h2><a href="users"> If you would like to add a user, click this link</a></h2>
</body>
</html>